
#bloc_page
{
	width: 980px;
	margin:auto;
}
body
{
	font-family: 'Raleway', serif;
	background-color: #FDFEFE;
	color: black;
	font-size: 0.8em;
}
h2
{
	font-weight: bold;
	font-size: 1.2em;
}
/*header*/
header
{
	display: flex;
	justify-content: space-between;
	border:10px blue solid;
}
#titre_principal
{
	display: flex;
	position: relative;
	width: 20%
	height:auto;
	border: 5px red solid;
}
#logo
{
	width: 35%;
	height: auto;
	margin: auto;

}
nav
{
	display: flex;
	position: relative;
	justify-content: flex-end;
	width: 80%;
	height: auto;
	margin: 2% 1% 0% 10%;
	border: 5px yellow solid;
	padding: 0px;
}
nav ul
{
	list-style-type: none;
}
nav li
{
	display: inline-block;
/*section recherche*/
}
.recherche
{
	border:10px red solid;
}
/*section hébergements*/
.hebergements
{
	border: 10px grey solid;
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
}

#hebergement_marseille
{
	display: flex;
	flex-direction: column;
	border:10px yellow solid;
	width: 60%;
	height: auto;
	margin: 10px;
}
#titre_hebergement
{
	display: flex;
	position: relative;
}
#hebergement1
{
	display: flex;
	position: relative;
	justify-content: space-around;
	width: 100%;
	height: 200px;
	border:5px black solid;
}
#hebergement2
{display: flex;
position: relative;
justify-content: space-around;
width: 100%;
height: 200px;
border: 5px green solid;
}
#p1
{
	 border:5px red solid;
	 width: 100%
	 height:60px;
	 margin: 3px;
}
#p1-img
{
	width:180px;
	height: 120px;
}
#p2
{
	 border:5px red solid;
	 width: 100%
	 height:60px;
	 margin: 3px;
}
#p2-img
{
	width:180px;
	height: 120px;
}
#p3
{
	 border:5px red solid;
	 width: 100%
	 height:60px;
	 margin: 3px;
}
#p3-img
{
	width:180px;
	height: 120px;
}
#p4
{
	 border:5px red solid;
	 width: 100%
	 height:60px;
	 margin: 3px;
}
#p4-img
{
	width:180px;
	height: 120px;
}
#p5
{
	 border:5px red solid;
	 width: 100%
	 height:60px;
	 margin: 3px;
}
#p5-img
{
	width:180px;
	height: 120px;
}
#p6
{
	 border:5px red solid;
	 width: 100%
	 height:60px;
	 margin: 3px;
}
#p6-img
{
	width:180px;
	height: 120px;
}

aside
{
	border:5px black solid;
	width: 35%;
	height: 555px;
	margin: 10px;
	background-color: #F2F2F2;
}
#p7
{
	border:5px blue solid;
	display: flex;
	width: 90%;
	height:130px;
	margin: 15px;
}
#p7-img
{
	width:120px;
	height: 130px;
	border: 5px yellow solid;
	position: relative;
}
#block-descript7
{
	position: relative;
	left: 130px;
	top : -143px;
	border: 5px green solid;
	width: 78%;
	height: 126px;
}
#p8
{
	border:5px red solid;
	display: flex;
	flex-direction: row;
	width: 90%;
	height:130px;
	margin: 15px;
}
#p8-img
{
	width:120px;
	height: 130px;
}
#block-descript8
{
	border: 5px green solid;
	position: relative;
	left: 120px;
	top: -135px;
	width: 100%;
	height: 126px;
}
#p9
{
	border:5px blue solid;
	display: flex;
	flex-direction: row;
	width: 90%;
	height:130px;
	margin: 15px;
}
#p9-img
{
	width:120px;
	height: 130px;
}
#block-descript9
{
	border: 5px green solid;
	position: relative;
	left: 120px;
	top: -135px;
	width: 83%;
	height: 126px;
}
#titre_populaires
{
	border:2px blue solid;
	display: inline-block;
	width: 70%;
	height: auto;
	margin: 15px;
}
#logo-pop
{
	border:5px red solid;
	display: inline-block;
	width: 10%;
	height: auto;
}
#afficher_plus
{
	display: flex;
	position: relative;
	bottom: -30px;
}
/*section activité*/
.activites
{
	border: 10px green solid; 
}

#block-img10, #block-img11, #block-img12, #block-img13, #block-img14, #block-img15
{
	border:5px green solid;
}
#photo10, #photo11x12, #photo13, #photo14x15
{
	border: 5px blue solid;
}
.activites h2
{
	margin: 15px;
}
#block-activite
{
	display: flex;
}
#p10-img, #p13-img
{
	border:5px red solid;
	width: 100%;
	height: auto;
}
#p11-img, #p12-img, #p14-img, #p15-img
{
	border: 5px red solid;
	width: 100%;
	height: auto;
}
/*section footer*/
footer
{
	border: 5px black solid;
	display: flex;
	justify-content: space-around;

}
footer h2
{
	display: flex;
	position: relative;
	right:-40px;
}
footer li
{
	list-style-type: none;
}
/*Media queries*/
@media all and(min-width: 1020px)
{
	#bloc_page
		{
			width: 760px;
			height: auto;
			margin: auto;
		}
}