#bloc_page
{
	width: 100%;
	max-width: 980px;
	margin:auto;
}
.recherche, #ancre_hebergement, #ancre_activites
{
	margin: auto;
}
body
{
	font-family: 'Raleway', serif;
	font-size: 0.8em;
	width: 100%;
	height: auto;
}
h2
{
	font-weight: bold;
	font-size: 1.2em;
}
a
{
	text-decoration: none;
}
/*header*/
header
{
	display: flex;
	justify-content: space-between;
}
#logo
{
	width: 12%;
	height: auto;
	margin:auto;
	display: flex;
	position: relative;
	right: 9.5%;
	float: left;
}
nav
{
	display: flex;
	position: relative;
	justify-content: flex-end;
	width: 100%;
	height: auto;
}
nav ul
{
	list-style-type: none;
	width: 60%;
	height: auto;
	position: relative;
	right: 2%;
}
nav li
{
	display: inline-flex;
	justify-content: flex-end;
	position: relative;
	left: 50%;

}
#nav-hebergement
{
	color: black;
	font-size: 1.1em;
	padding-top: 20px;
	display: flex;
	border-top:3px solid transparent;
}
#nav-activite
{
	color: black;
	font-size: 1.1em;
	padding-top: 20px;
	margin-left: 20px;
	display: flex;
	border-top:3px solid transparent;
}
#nav-inscrire
{
	color: #0065FC;
	font-size: 1.1em;
	padding-top: 20px;
	margin-left: 20px;
	display: flex;
	font-weight: bold;
	display: inline-block;
	
}
#nav-activite:hover, #nav-hebergement:hover
{
	color:#0065FC;
	font-weight: bold;
	border-color: #0065FC;
}
/*section recherche*/
.recherche
{
	width: 95%;
	height: auto;
}
.recherche h2
{
	color: black;
	font-weight: bold;
	font-size: 1.3em;
}
.recherche h3
{
	color: black;
	font-size: 1em;
	font-weight: normal;
}
#formulaire1
{
	width: 50%;
	height: auto;
}
#logo-map
{
	background-color: #F2F2F2;
	padding: 13px;
	margin: 0%;
	margin-left: 10px;
	border-radius: 10px 0px 0px 10px;
}
#recherche_ville
{
	border:1px #F2F2F2 solid;
	padding: 10px;
	margin: 0%;
}
#bouton-recherche
{
	background-color:#0065FC;
	color: white; 
	border:none;
	padding: 10px;
	margin: 0%;
	border-radius: 0px 10px 10px 0px;
}
#bouton-recherche:hover
{
	cursor: pointer;
}
#bouton-recherche2
{
	display: none;
}
.survol:hover
{
	color: #0065FC;
	cursor: pointer;
}
#filtres
{
	display: inline-block;
	width: 6%;
	height: auto;
	margin: 10px;
	font-size: 1.1em;
	font-weight: bold;
}
#formulaire2
{
	display: inline-block;
	width: 70%;
	height: auto;
}
#eco, #familial, #romantique, #animaux
{
	padding: 0%;
	display: inline-block;
	margin-top: 5%;
	margin-left: 1%;
	border-radius: 15px;
	border: 2px #F2F2F2 solid;
}
#logo-eco, #logo-familial, #logo-romantique, #logo-animaux
{
	color: #0065FC;
	background-color:#DEEBFF;
	border-radius:100%; 
	padding: 5px;
}
#bouton-eco, #bouton-familial, #bouton-romantique, #bouton-animaux
{
	border:none;
	background-color: white;
	font-weight: bold;
}
#logo-info
{
	border:1px #F2F2F2 solid;
	padding: 7px;
	color: #0065FC;
	background-color: white;
	margin: 10px;
	margin-right: 3px;
	border-radius: 30px;
}
/*section hébergements*/
#ancre_hebergement
{
	background-color: white;
	display: flex;
	justify-content: space-between;
	width: 95%;
	height: auto;
}
#ancre_hebergement h6
{
	color: white;
}
#hebergement_marseille
{
	display: flex;
	flex-direction: column;
	width: 60%;
	height: auto;
	margin: 5px;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 20px 20px 0px 20px;
}
#titre_hebergement
{
	background-color: #F2F2F2;
	display: flex;
	position: relative;
	margin-left: 15px;
	border-radius: 20px;
	font-weight: bold;
}
#hebergement1, #hebergement2
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 7%;
	width: 100%;
	height: 210px;
}
#p1, #p2, #p3, #p4, #p5, #p6
{
	width:100%;
	height:22vh;
	padding: 5px;
    margin: 5px;
	border-radius: 20px;
	display: flex;
	position: relative;
	background-color: white;
	box-shadow:  2px 2px 2px rgba(128,128,128,0.1)
}

#p1 a
{
	background-image: url(image_hebergement/1.jpg);
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
}
#p2 a
{
	background-image: url(image_hebergement/2.jpg);
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
}
#p3 a
{
	background-image: url(image_hebergement/3.jpg);
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
}
#p4 a
{
	background-image: url(image_hebergement/4.jpg);
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
}
#p5 a
{
	background-image: url(image_hebergement/5.jpg);
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
}
#p6  a
{
	background-image: url(image_hebergement/6.jpg);
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
}
.description
{
	color: black;
	background-color: white;
	padding: 8px;
	border-radius:0 0 15px 15px;
	width: 82%;
	height: auto;
	position: absolute;
	bottom: 0;
}
.etoile-pleine
{
	color: #0065FC;
	padding: 1px;
	margin:0px 0px 0px 8px;
	display: inline-block;
}
.etoile-vide
{
	color: rgba(144, 148, 151, 0.5);
	display: inline-block;
}
span
{
	font-weight: bold;
	font-size: 1em;
}
aside
{
	width: 35%;
	height: auto;
	margin: 5px;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 10px;
}
#p7, #p8, #p9
{
	background-color: white;
	display: flex;
	width: calc(100% - 30px);
	height: 18vh;
	margin: 5%;
	border-radius: 20px;
	box-shadow:  2px 2px 2px rgba(128,128,128,0.1)

}
#p7 a
{
	background-image: url(image_hebergement/7.jpg);
	width: 42%;
	height: auto;
	background-size: cover;
	background-position: center;
	border-radius: 15px 0 0 15px;

	display: inline-block;
	margin: 5px;
}
#p8 a
{
	background-image: url(image_hebergement/8.jpg);
	width: 42%;
	height: auto;
	background-size: cover;
	background-position: center;
	border-radius: 15px 0 0 15px;
	
	display: inline-block;
	margin: 5px;
}

#p9 a
{
	background-image: url(image_hebergement/9.jpg);
	width: 42%;
	height: auto;
	background-size: cover;
	background-position: center;
	border-radius: 15px 0 0 15px;
	
	display: inline-block;
	margin:5px;

}	
#block-descript7, #block-descript8, #block-descript9
{
	color: black;
	background-color: white;
	display: inline-block;
	border-radius: 0 15px 15px 0;
	width: 110%;
	padding: 5%;
	height: 85%;
	position: relative;
	left: 100%;
}
.txt
{
	margin-top: 4%;
	width: 100%;
	height: auto;
}
.etoile-pleine2
{
	color: #0065FC;
	margin:0px 0px 0px 8px;
	display: inline-block;
	height: auto;
	position: absolute;
	bottom: -3px;
}
.etoile-vide2
{
	color: rgba(144, 148, 151, 0.5);
	width: 11%;
	display: inline-block;
}
#titre_populaires
{
	background-color: #F2F2F2;
	display: inline-block;
	width: 70%;
	height: auto;
	margin: 0%;
}
#logo-pop
{
	background-color: #F2F2F2;
	display: inline-block;
	width: 10%;
	height: auto;
}
#afficher_plus
{
	display: flex;
	position: relative;
	margin-left: 15px;
	font-weight: bold;
}
#lien-affiche
{
	color: black;
}
#lien-affiche:hover
{
	color: #0065FC;
	text-decoration: underline;
}
/*section activité*/
#ancre_activites
{
	width: 95%;
	height: auto;
	margin-top: 2%;
}
#ancre_activites h2
{
	margin-left: 2%;
}
#block-activite
{
	display:flex;
	justify-content: space-between;
	margin: 5px;
	padding: 0 0 5% 0;
}
#photo11x12, #photo14x15
{
	width: 23%;
	height: auto;
}
#photo10, #photo13
{
	width: 23%;
	height: auto;
	display: flex;
}
#photo11, #photo14
{
	margin-bottom: 5%;
}
#photo11, #photo12, #photo14, #photo15
{
	width: 100%;
	height: 187px;
	display: flex;
	position: relative;
}
#block-descript10, #block-descript13
{
	display: flex;
	position: relative;
	font-size: 1em;
	top: 105%;
	padding-left: 7%;
}
#block-descript11, #block-descript12, #block-descript14, #block-descript15
{
	display: flex;
	position: relative;
	font-size: 1em;
	top:120%;
	padding-left: 7%;

}
#photo10, #photo11, #photo12, #photo13, #photo14, #photo15
{
	border-radius: 20px;
	box-shadow:  2px 2px 2px rgba(128,128,128,0.1);
}
#photo10 a
{
	background-image: url("image-activite/10.jpg");
	width: 100%;
	height: 85%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
	position: relative;
	color: black;
}
#photo11 a
{
	background-image: url("image-activite/11.jpg");
	width: 100%;
	height: 68%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
	position: relative;
	color: black;
}
#photo12 a
{
	background-image: url("image-activite/12.jpg");
	width: 100%;
	height: 68%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
	position: relative;
	color: black;
}
#photo13 a
{
	background-image: url("image-activite/13.jpg");
	width: 100%;
	height: 85%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
	position: relative;
	color: black;
}
#photo14 a
{
	background-image: url("image-activite/14.jpg");
	width: 100%;
	height: 68%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
	position: relative;
	color: black;
}
#photo15 a
{
	background-image: url("image-activite/15.jpg");
	width: 100%;
	height: 68%;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
	position: relative;
	color: black;
}
.activites h2
{
	margin: 15px;
}
#block-activite
{
	display: flex;
}
/*section footer*/
footer
{
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	width: 100%;
	height: auto;
}
footer h2
{
	display: flex;
	position: relative;
	right:-40px;
	font-weight: bold;
}
#propos, #nos_hebergement, #assistance
{
	width: 33%;
	height: auto;
}
footer li
{
	list-style-type: none;
}
footer a
{
	color: black;
}
/* Media queries Tablette*/
@media screen and (max-width: 1200px) and (min-width: 824px)
{
	#bloc_page
	{
		width: 100%;
		height: 1366px;
		margin: auto;
	}
/*header*/
	#logo
	{
		width: 20%;
		top:1%;
		left: 2%;
	}
	nav ul
	{
		font-size: 1.5em;
		width: 100%;
	}
	nav li
	{
		justify-content: flex-end;
		padding: 5%;
		justify-content: space-between;
		position: relative;
		left: 10%;
	}
	.hebergment-activite
	{
		position: relative;
		left: 50px;
	}
	#nav-hebergement, #nav-activite, #nav-inscrire
	{
		border-bottom: 3px solid transparent;
		width: 100%;
		position: relative;
		justify-content: center;
		padding-top: 0;
		padding-bottom: 15px;
		margin: 0;
	}
	#nav-activite:hover, #nav-hebergement:hover
	{
		border-bottom-color: #0065FC;
		border-top-color: transparent;
	}
/*recherche*/
	.recherche h2
	{
		font-size: 1.7em;
	}
	.recherche h3
	{
		font-size: 1.5em;
	}
	#formulaire1
	{
		width: 80%;
	}
	#logo-map
	{
		font-size: 1.5em;
	}
	#recherche_ville
	{
		width: 50%;
		height: 1.71em;
		position: relative;
		top: -3px;
	}
	#bouton-recherche
	{
		font-size: 1.7em;
		position: relative;
		right:1%;
	}
	#filtres
	{
		font-size: 1.6em;
	}
	#eco, #familial, #romantique, #animaux
	{
		font-size: 1.1em;
	}
	#eco input, #familial input, #romantique input, #animaux input
	{
		font-size: 1.3em;
		border-radius: 20px;
	}
	.recherche p
	{
		font-size: 1.3em;
	}
/*hébergement*/
	#ancre_hebergement
	{
		width: 100%;
		height: auto;
	}
	#hebergement_marseille
	{
		margin:0;
		margin: 1%;
		width: calc(62% - 2%);
		font-size: 1.2em;
	}
	#h1-h2
	{
		display: flex;
		flex-direction: row;
		width: calc(100% - 2%);
		padding: 1%;
	}
	#hebergement1, #hebergement2
	{
		width: calc(50% - 2%);
		height: auto;
		margin: 1%;
		justify-content:space-between; 
		font-size: 1.1em;
	}
	#hebergement1
	{
		display: flex;
		flex-direction: column;
	}
	#hebergement2
	{
		display: flex;
		flex-direction: column;
	}
	#p1, #p2, #p3, #p4, #p5, #p6
	{
		width: 100%;
		height:25vh;
		padding: 0;
		font-size: 1em;
	}
	.description
	{
		width: 94%;
		height: auto;
		
		margin-bottom: 5%;
	}
/*Aside*/
	aside
	{	
		width: calc(38% - 2%);
		margin: 1%;
	}
	#titre_populaires
	{
		left: 5%;
		font-size: 1.2em;
		position: relative;
		top:1%;
	}
	#logo-pop
	{
		position: relative;
		font-size: 1.5em;
		left: 12%;
		top:1%;
	}
	#p7, #p8, #p9
	{
		font-size: 1.2em;
		height: 25vh;
		position: relative;
		top: 1%;
	}
	#afficher_plus
	{
		font-size: 1.1em;
	}
/*Activité*/
	#ancre_activites
	{
		width: 100%;
	
	}
	#photo11, #photo14
	{
		margin-bottom: 15%;
	}
	#photo11, #photo12, #photo14, #photo15
	{
		width: 100%;
		height: 25vh;
	
	}
	#block-descript10, #block-descript11, #block-descript12, #block-descript13, #block-descript14, #block-descript15
	{
		font-size: 1.2em;
	}
	#block-descript10, #block-descript13
	{
		top: 95.2%;
		right: 1%;
		width: 102%;
		border-radius: 0 0 20px 20px;
		display: flex;
		justify-content: center;
		padding-left: 0;
		padding-top: 5%;
		background-color: white;
		margin: 0;
	}
	#block-descript13
	{
		padding-left: 2%;
	}
	#photo10 a, #photo13 a
	{
		border-radius: 20px 20px 20px 20px;
	}
	#block-descript11; #block-descript12; #block-descript14; #block-descript15
	{
		top:95%;
	}
/*footer*/
	footer h2
	{
		font-size: 1.4em;
	}
	footer li
	{
		font-size: 1.3em;
	}
}



/*Media queries Mobile*/

@media screen and (max-width: 823px) and (min-width: 654px)
{
	body
	{
		width: 90%;
	}
	#bloc_page
	{
		width: 85%;
		height: auto;
		margin:auto;
	}
/*header*/
	header
	{
		width: 100%;
		height: 160px;
		margin:auto;
	}
	#logo
	{
		width: 20%;
		height: auto;
		left: 8%;
		bottom: 25%;
	}
	nav
	{
		width: 100%;
		height:160px;
	}
	nav ul
	{
		width: 100%;
		padding: 0;
		margin: 0;
		justify-content: flex-start;
	}
	nav li
	{
		margin: 0;
		position: relative;
		top: 55%;
	}
	#nav-hebergement, #nav-activite, #nav-inscrire
	{
		font-size: 1.4em;
	}
	#nav-hebergement:hover, #nav-activite:hover
	{
	border-bottom:3px #0065FC solid;
	border-top: 3px transparent solid;
	}
	#nav-hebergement, #nav-activite
	{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		border-bottom:3px transparent solid;
		border-top: 3px transparent solid;
	}
	 #nav-activite
	 {
	 	margin-left: 0;
	 }
	#li-inscrire
	{
		position: relative;
		top: -75%;
		left: 70%;
	}
	#li-hebergement, #li-activite
	{
		padding-bottom: 20px;
		padding-top: 0;
		margin: 0;
		width: 47vw;
		display: flex;
		justify-content: center;
		position: relative;
		border-top:3px solid transparent;
		border-bottom:3px solid transparent;
	}
	#li-hebergement
	{
		left: -26%;
	}
	#li-activite
	{
		top: 11%;
		left: 39%;
	}
/*Recherche*/
.recherche
{
	display: flex;
	flex-direction: column;
	width: 90%;
}
.recherche h2
{
	font-size: 2em;
	margin: 2%;
	
}
.recherche h3
{
	margin: 2%;
	font-size: 1.5em;
}
#formulaire1
{
	width: 100%;
	height: auto;
	margin: 2%;
}
#logo-map
{
	font-size: 1.9em;
	display: inline-block;
	position: relative;
	top: -4px;
}
#recherche_ville
{
	width: 65%;
	height: 2em;
	display:inline-block;
	position: relative;
	top: -8px;
}
#bouton-recherche
{
	display: none;
}
#bouton-recherche2
{
	display: initial;
	background-color:#0065FC;
	color: white; 
	border:none;
	padding: 10px;
	margin: -5%;
	border-radius: 0px 10px 10px 0px;
	font-size: 2em;
	position: relative;
	top: -1px;
	left: -4px;
	border-radius: 20px;
}
#bouton-recherche2:hover
{
	cursor: pointer;
}
#filtres
{
	font-size: 2em;
	width: 20%;
	height: auto;
}
#formulaire2
{
	width: 85%;
	height: 200px;
	display: flex;
	flex-direction: column;
}
#eco, #romantique, #animaux, #familial
{
	font-size: 2em;
}
#familial
{
	align-self: flex-end;
	position: relative;
	top: -70px;
	left: 10%;
}
#eco, #romantique, #animaux
{
	align-self: flex-start;
}
#eco
{
	position: relative;
}
#romantique, #animaux
{
	position: relative;
	top: -70px;
}
.recherche p
{
	font-size: 1.2em;
}
#eco input, #romantique input, #animaux input, #familial input
{ 
	font-size: 0.8em;
}
/*hebergement à Marseille*/		
	#ancre_hebergement
	{
		width: calc(100% - 30px);
		height: auto;
		margin:15px 15px 15px 15px;
		display: flex;
		flex-direction: column-reverse;
	}
	#hebergement_marseille
	{
		width: 100%;
		height: auto;
		margin: 0;
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 0;
	}
	#hebergement1, #hebergement2
	{
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		background-color: white;
	}
	#titre_hebergement
	{
		font-size: 1.6em;
		background-color: white;
		margin-left: 5%;
	}
	#p1, #p2, #p3, #p4, #p5, #p6
	{
		width: calc(100% - 30px);
		height: 30vh;
		min-height: 240px;
		margin: 2% 15px 2% 15px;
		box-shadow:  2px 2px 2px rgba(128,128,128,0.5);
	}
	.description
	{
		top:70%;
		font-size: 1.1em;
	}
	
	#p1 a, #p2 a, #p3 a, #p4 a, #p5 a, #p6 a
	{
		width: 100%;
		height: 70%;
		background-position: center;
		
	}
	#lien-affiche
	{
		font-size: 1.6em;
	}
/*hebergement les plus populaires*/
	aside
	{
		width: 100%;
		height: auto;
		margin: auto;
		border-radius: 0px;
	}
	#titre_populaires
	{
		font-size: 1.6em;
		width: 70%;
		margin-left: 5%;
	}
	#logo-pop
	{
		width: 10%;
		height: auto;
		font-size: 1.8em; 
	}
	#p7, #p8, #p9
	{
		width: calc(100% - 30px);
		height: 26vh;
		min-height: 240px;
		margin:15px;
		box-shadow:  2px 2px 2px rgba(128,128,128,0.5)
	}
	#block-descript7, #block-descript8, #block-descript9
	{
	font-size: 1em;
	left: 100%;
	width: 100%;
	}
	#p7 .etoile-pleine2, #p8 .etoile-pleine2, #p9 .etoile-pleine2
	{
		font-size: 1.3em;
		top: 20%;
		margin-top: 0;
		justify-content: flex-end;
		position: relative;
		top:45%;
	}
	.txt
	{
		font-size: 1.2em;
	}
	span
	{
		font-size: 1.3em;
	}
/*activités à Marseille*/
	#ancre_activites
	{
		width: 100%;
		height: auto;
		margin: auto;
	}
	#block-activite
	{
		width: 100%;
		height: auto;
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	#ancre_activites h2
	{
		font-size: 1.6em;
		margin-left: 10%;
	}
	#photo10, #photo11x12, #photo13, #photo14x15
	{
		width: 100%;
		height: auto;
		margin: 0;
		display: flex;
		justify-content: center;

	}
	#photo11x12, #photo14x15
	{
		flex-direction: column;
	}
	#photo12, #photo15
	{
		bottom: 0px;
	}
	#photo10, #photo11, #photo12, #photo13, #photo14, #photo15
	{
		width: calc(100% - 60px);
		height: 30vh;
		min-height: 240px;
		font-size: 1.1em;
		margin: 3% 30px 3% 30px;
		box-shadow:  2px 2px 2px rgba(128,128,128,0.5)
	}
	#photo10 a, #photo13 a
	{
		height: 65%;
	}
	#block-descript10, #block-descript13
	{
		top:120%;
	}
/*Footer*/
	footer
	{
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		flex-direction: column;
		font-size:1.4em; 
	}
	#propos, #nos_hebergement, #assistance
	{
		width: 100%;
		height: auto;
	}
}

/*media queries petit format mobile*/
@media screen and (max-width: 653px)
{
	body
	{
		width: 100%;
	}
	#bloc_page
	{
		width: 100%;
		height: auto;
		margin:auto;
	}
/*header*/
header
{
	width: 100%;
	height: 160px;
	margin:auto;
}
#logo
{
	width: 30%;
	height: auto;
	left: 8%;
	bottom: 20%;
}

nav ul
{
	width: 100%;
	padding: 0;
	margin: 0;
	justify-content: flex-start;
}
nav li
{
	margin: 0;
	position: relative;
	top: 57.5%;
}
#nav-hebergement, #nav-activite, #nav-inscrire
{
	font-size: 1.6em;
}
#nav-hebergement:hover, #nav-activite:hover
{
border-bottom:3px #0065FC solid;
border-top: 3px transparent solid;
}
#nav-hebergement, #nav-activite
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	border-bottom:3px transparent solid;
	border-top: 3px transparent solid;
	position: relative;
	right: 10%;
}
 #nav-activite
{
	margin-left: 0;
}
#li-inscrire
{
	position: relative;
	top: -81%;
	left: 50%;
}
#li-hebergement, #li-activite
{
	padding-bottom: 20px;
	padding-top: 0;
	margin: 0;
	width: 47vw;
	display: flex;
	justify-content: center;
	position: relative;
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
}
#li-hebergement
{
	left: -26%;
}
#li-activite
{
	top: 10%;
	left: 38%;
}
/*Recherche*/
.recherche
{
	display: flex;
	flex-direction: column;
	width: 90%;
}
.recherche h2
{
	font-size: 1.7em;
	margin: 2%;
	
}
.recherche h3
{
	margin: 2%;
	font-size: 1.3em;
}
#formulaire1
{
	width: 100%;
	height: auto;
	margin: 2%;
}
#logo-map
{
	font-size: 1.9em;
	display: inline-block;
	position: relative;
	top: -4px;
}
#recherche_ville
{
	width: 60%;
	height: 2em;
	display:inline-block;
	position: relative;
	top: -8px;
}
#bouton-recherche
{
	display: none;
}
#bouton-recherche2
{
	display: initial;
	background-color:#0065FC;
	color: white; 
	border:none;
	padding: 10px;
	margin: -5%;
	border-radius: 0px 10px 10px 0px;
	font-size: 2em;
	position: relative;
	top: -5px;
	left: -15px;
	border-radius: 20px;
}
#bouton-recherche2:hover
{
	cursor: pointer;
}
#filtres
{
	width: 20%;
	height: auto;
}
#formulaire2
{
	width: 85%;
	height: 200px;
	display: flex;
	flex-direction: column;
}
#eco, #romantique, #animaux, #familial
{
	font-size: 1.4em;
}
#familial
{
	align-self: flex-end;
	position: relative;
	top: -21%;
	left: 10%;
}
#eco, #romantique, #animaux
{
	align-self: flex-start;
	position: relative;
}
#romantique
{
	top:-10%;
}
#animaux
{
	top:5%;
}
.recherche p
{
	font-size: 1.1em;
	margin-top: 10%;
}
#eco input, #romantique input, #animaux input, #familial input
{ 
	font-size: 0.8em;
}
/*hebergement à Marseille*/		
	#ancre_hebergement
	{
		width: calc(100% - 30px);
		height: auto;
		margin:15px;
		display: flex;
		flex-direction: column-reverse;
	}
	#hebergement_marseille
	{
		width: 100%;
		height: auto;
		margin: 0;
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 0;
	}
	#hebergement1, #hebergement2
	{
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		background-color: white;
	}
	#titre_hebergement
	{
		font-size: 1.6em;
		background-color: white;
		margin-left: 5%;
	}
	#p1, #p2, #p3, #p4, #p5, #p6
	{
		width: calc(100% - 30px);
		height: 30vh;
		min-height: 240px;
		margin: 2% 15px 2% 15px;
		box-shadow:  2px 2px 2px rgba(128,128,128,0.5);
	}
	.description
	{
		top:70%;
		font-size: 1.1em;
	}
	#p1 a
	{
		width: 100%
		height: 60%
		background-position: center;
	}
	#p1 .description
	{
		top:63%;
	}
	#p2 a, #p3 a, #p4 a, #p5 a, #p6 a
	{
		width: 100%;
		height: 70%;
		background-position: center;
		
	}
	#lien-affiche
	{
		font-size: 1.6em;
	}
/*hebergement les plus populaires*/
	aside
	{
		width: 100%;
		height: auto;
		margin: auto;
		border-radius: 0px;
	}
	#titre_populaires
	{
		font-size: 1.6em;
		width: 70%;
		margin-left: 5%;
	}
	#logo-pop
	{
		width: 10%;
		height: auto;
		font-size: 1.8em; 
	}
	#p7, #p8, #p9
	{
		width: calc(100% - 30px);
		height: 26vh;
		min-height: 240px;
		margin:15px;
		box-shadow:  2px 2px 2px rgba(128,128,128,0.5)
	}
	#block-descript7, #block-descript8, #block-descript9
	{
	font-size: 1em;
	left: 100%;
	width: 100%;
	}
	.etoile-pleine2
	{
		font-size: 1.1em;
		margin-top: 0;
		justify-content: flex-end;
		position: relative;
		top:33%;
	}
	#p8 .etoile-pleine2
	{
		top:20%;
	}
	.txt
	{
		font-size: 1.2em;
	}
	span
	{
		font-size: 1.3em;
	}
/*activités à Marseille*/
	#ancre_activites
	{
		width: 100%;
		height: auto;
		margin: auto;
	}
	#block-activite
	{
		width: 100%;
		height: auto;
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	#ancre_activites h2
	{
		font-size: 1.6em;
		margin-left: 10%;
	}
	#photo10, #photo11x12, #photo13, #photo14x15
	{
		width: 100%;
		height: auto;
		margin: 0;
		display: flex;
		justify-content: center;

	}
	#photo11x12, #photo14x15
	{
		flex-direction: column;
	}
	#photo12, #photo15
	{
		bottom: 0px;
	}
	#photo10, #photo11, #photo12, #photo13, #photo14, #photo15
	{
		width: calc(100% - 60px);
		height: 30vh;
		min-height: 240px;
		font-size: 1.1em;
		margin: 3% 30px 3% 30px;
		box-shadow:  2px 2px 2px rgba(128,128,128,0.5)
	}
	#photo10 a, #photo13 a
	{
		height: 65%;
	}
	#block-descript10, #block-descript13
	{
		top:120%;
	}
/*Footer*/
	footer
	{
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		flex-direction: column;
		font-size:1.4em; 
	}
	#propos, #nos_hebergement, #assistance
	{
		width: 100%;
		height: auto;
	}
}
}